<body class="page-header-fixed page-boxed">
<style>
    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px; }
    .tabbable-line > .nav-tabs > li {
        margin: 0;
        border-bottom: 4px solid transparent; }
    .tabbable-line > .nav-tabs > li > a {
        background: none !important;
        border: 0;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        color: #737373; }
    .tabbable-line > .nav-tabs > li > a > i {
        color: #a6a6a6; }
    .tabbable-line > .nav-tabs > li.active {
        background: none;
        border-bottom: 4px solid #36c6d3;
        position: relative; }
    .tabbable-line > .nav-tabs > li.active > a {
        border: 0;
        color: #333; }
    .tabbable-line > .nav-tabs > li.active > a > i {
        color: #404040; }
    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        background: none;
        border-bottom: 4px solid #9fe4ea; }
    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333; }
    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
        color: #a6a6a6; }
    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px; }

    .tabbable-line > .tab-content {
        margin-top: 0;
        border: 0;
        border-top: 1px solid #eef1f5;
        padding: 30px 0; }
    .page-container-bg-solid .tabbable-line > .tab-content {
        border-top: 1px solid #dae2ea; }
    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0; }

    .tabbable-line.tabs-below > .nav-tabs > li {
        border-top: 4px solid transparent; }
    .tabbable-line.tabs-below > .nav-tabs > li > a {
        margin-top: 0; }
    .tabbable-line.tabs-below > .nav-tabs > li:hover {
        border-bottom: 0;
        border-top: 4px solid #fbdcde; }
    .tabbable-line.tabs-below > .nav-tabs > li.active {
        margin-bottom: -2px;
        border-bottom: 0;
        border-top: 4px solid #ed6b75; }

    .tabbable-line.tabs-below > .tab-content {
        margin-top: -10px;
        border-top: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px; }
</style>
    <div class="container">
        <div class="portlet-body">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_15_1" class="no_load" data-toggle="tab">积分明细</a>
                    </li>
                    <li>
                        <a href="#tab_15_2" class="no_load" data-toggle="tab">积分收入</a>
                    </li>
                    <li>
                        <a href="#tab_15_3" class="no_load" data-toggle="tab">积分支出</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_15_1">
                        <p>我是积分明细1</p>
                        <p> 积分明细 积分明细 </p>
                    </div>
                    <div class="tab-pane" id="tab_15_2">
                        <p>我是积分明细2</p>
                        <p> 积分明细 积分明细 </p>
                    </div>
                    <div class="tab-pane" id="tab_15_3">
                        <p>我是积分明细3</p>
                        <p> 积分明细 积分明细 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>